<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hb.currencymanage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".CMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.LoginActivity">

        </activity>
        <activity android:name=".ui.activity.RegActivity" />
        <activity android:name=".ui.activity.ForgetPwdActivity" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MineDeviceActivity" />
        <activity android:name=".ui.activity.DeviceDetailActivity" />
        <activity android:name=".ui.activity.AddDeviceActivity" />
        <activity android:name=".ui.activity.MoneyManagementActivity" />
        <activity android:name=".ui.activity.MoneyRechargeActivity" />
        <activity android:name=".ui.activity.WithDrawActivity" />
        <activity android:name=".ui.activity.EmergencyActivity" />
        <activity android:name=".ui.activity.MineCurrencyActivity" />
        <activity android:name=".ui.activity.CapacityActivity" />
        <activity android:name=".ui.activity.PersonalActivity" />
        <activity android:name=".ui.activity.BankInformationActivity" />
        <activity android:name=".ui.activity.RecommendActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.TellUsActivity" />
        <activity android:name=".ui.activity.DeviceDetailLeaseActivity"></activity>
    </application>

</manifest>